<div class="text-center">
    <h1 style="margin-top: 2rem;"><strong>Our Treatment Process</strong></h1>
    <h3>BEST DE- ADDICTION CUM REHABILITATION CENTER</h3>
    <div class="row" style="margin-top: 2rem;">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Accomodation</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text"> Life Revision Foundation Provide Accommodation to all of the addicted patients. Accommodation type will be Lobby, Dormitory, AC and Non AC.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Yoga and Meditation</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">The calm breathing exercises, gentle motions, and meditative benefits of yoga can help calm your nerves, reduce cravings, and help treat any psychological distress.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Consciousness Classes</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">Consciousness classes help you learn more about you and your life and provides you the knowledge to help you stay clean and make you aware of addiction.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Physical Check Up</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">We all know addiction affects our body in a negative way. So in rehabilitation process, physical check up becomes a necessary part when dealing with recovery to understand your physical problems and take steps to cure those.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Indoor Games and Hobbies</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">This part is completely for your recreation purpose. We want you to be in a place where you feel comfortable and happy and that’s why our rehab center is located near Garia in a open environment in Chiramore, Kaikhali.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Counselling</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">Counselling in rehabilitation program provides you support, education to improve your motivation for recovery, to make you Learn the skills for stopping alcohol abuse and avoiding relapse and many more.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Psychiatric Treatment</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">Addiction doesn’t only harms our body. It also harms our brain. To make you mentally healthy we take you through this treatment process as a part of our addiction treatment program.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Recreation and Celebrations</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">Recovery and Stay in Abstinance from any mood altering substance is a journey not a destination. And we know any journey without any sort of enjoyment is very painfull.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card cardStyle">
                <div class="card-header cardHeaderStyle">
                    <h3 class="headingCard"><strong>Community Living</strong></h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../../assets/images/accommodation.png" alt="Accomodation">
                    <span class="card-text">We know the man is by nature a social animal. We can not live alone by ourselves only. But in our active using period we actually tend to practice that.</span>
                </div>
            </div>
        </div>
    </div>
</div>
