<div style="margin-top: 2rem;">
    <h1 class="text-center"><strong>About Us</strong></h1>
    <h3 class="text-muted text-center">Best De-Addiction Cum Rehabilitation Center</h3>
    <hr>
    <div class="row">
        <div class="col-md-5 col-sm-6 col-xs-12">
            <img class="d-block w-100" src="../../assets/images/g2.jpg">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="boldHeading">De-addiction cum Rehabilitation Center for Drugs & Alchohol dependency & Mild Psychological problems</h3>
            <p>At Life Saviour Foundation, each client benefits from a highly personalized recovery plan developed by our expert, multi disciplinary team of medical professionals. Our intergrative approach combines evidence-based treatment with complimentary holistic therapies designed to heal mind, body and spirit and encourage an overall healthy life style. Addiction recovery is promoting healthy lifestyle choices that will help patients maintain lifelong sobriety.</p>
            <p>The objectives of this addiction rehabilitation program are :</p>
            <ul>
                <li>Support patient through the challenge of transitioning from addiction to sober living.</li>
                <li>Dealing with withdrawl.</li>
                <li>Deprogramming destructive behavior patterns.</li>
                <li>Building habits that will support their sobriety.</li>
            </ul>
        </div>
    </div>
    <hr>
    <h1 class="text-center" style="font-weight: bold;">What To Expect</h1>
    <h3></h3>
    <div></div>
</div>
